body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Inputs */
.input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Buttons */
.btn {
  width: 95%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #5a67d8;
}

/* Balance */
.balance {
  font-size: 28px;
  color: green;
}

/* Transactions */
.transactions {
  margin-top: 20px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 5px;
}